:root {
  --main-grey: #252525;
  --main-white: white;
  --white-32: rgba(255, 255, 255, .32);
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  color: var(--main-grey);
  margin-top: 0;
  margin-bottom: 0;
  font-family: neulis-neue, sans-serif;
  font-size: 98px;
  font-weight: 400;
  line-height: 98px;
}

h2 {
  color: var(--main-grey);
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: neulis-neue, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
}

.spline {
  width: 100%;
  height: 100vh;
  position: static;
}

.main {
  height: 100vh;
  flex-direction: column;
  margin-left: 128px;
  margin-right: 128px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hero {
  width: 100%;
  max-width: 1280px;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 64px;
  display: flex;
}

.header {
  width: 100%;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.logo-img {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.player {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  display: flex;
}

.bt-play {
  height: 64px;
  border: 6px solid var(--main-white);
  background-color: var(--main-white);
  color: var(--main-grey);
  background-image: url('../images/play.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100px;
  padding-top: 16px;
  padding-left: 40px;
  padding-right: 96px;
  font-family: neulis-neue, sans-serif;
  font-size: 18px;
}

.bt-next {
  width: 32px;
  height: 26px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/next.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.border-bt-play {
  border: 8px solid var(--white-32);
  border-radius: 100px;
}

.heading {
  line-height: 32px;
}

.language-toggle {
  border: 2px solid var(--main-grey);
  border-radius: 16px;
  align-items: center;
  display: flex;
}

.toggle-pt-enabled {
  border: 1px none var(--main-grey);
  background-color: var(--main-grey);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 4px 12px 4px 14px;
}

.toggle-en-disabled {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 4px 12px 4px 8px;
}

.link-en-disabled {
  color: var(--main-grey);
  text-decoration: none;
}

.toggle-link-enabled {
  color: var(--main-white);
  font-family: neulis-neue, sans-serif;
  text-decoration: none;
}

.spacer {
  width: 86px;
}

.logo {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  .main {
    margin-left: 64px;
    margin-right: 64px;
  }

  .hero {
    padding-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 66px;
    line-height: 72px;
  }

  .body {
    background-image: url('../images/mobile-bg-min.jpg');
    background-position: 0 0;
    background-size: cover;
  }

  .spline {
    opacity: 0;
  }

  .main {
    margin-left: 32px;
    margin-right: 32px;
  }

  .hero {
    padding-top: 16px;
  }

  .logo-img {
    width: 128px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 40px;
    line-height: 46px;
  }

  .main {
    margin-left: 26px;
    margin-right: 26px;
  }

  .hero {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  }

  .logo-img {
    width: 128px;
  }

  .controls {
    width: 100%;
  }

  .bt-play {
    width: 100%;
    padding-left: 20px;
    padding-right: 32px;
    font-size: 14px;
  }

  .border-bt-play {
    width: 100%;
  }

  .spacer {
    width: 0;
  }

  .logo {
    width: 100%;
  }
}


